table.table tbody td {
	vertical-align: middle;
}

.table-striped > tbody > tr:nth-child(odd) {
	background-color: rgba(249, 249, 249, 0.52);
}

.table-striped > tbody > tr:hover {
	background-color: rgb(249, 249, 249);
}

/* 登陆页面 */
.login-form {
	/*width: 100%;*/
	/*max-width: 300px;*/
	/*margin: 100px 200px auto auto;*/
	margin-top: 80px;
	background: rgba(246, 246, 246, 0.51);
}

.login-form fieldset {
	margin: 10px;
}

.login-form fieldset legend {
	border: none;
	padding: 20px 0 0 0;
	color: #444;
	font-weight: bold;
	text-shadow: #fff 1px 1px;
}

.login-bg {
	background: url("../images/background.jpg") top center no-repeat #eee;
	background-size: cover;
}

.login-bg h1 {
	margin-top: 100px;
	text-shadow: #ffffff 1px 1px;
}

/* 主要框架 */
.my-body {
	/*background: url("../images/background.jpg") top center #eee;*/
	/*background-size: cover;*/
	background-color: #f3f3f3;
	min-width: 1000px;
}

#LeftMenu {
	background: rgba(255, 255, 255, 0.62);
	text-align: right;
}

#RightContent {
	background: rgba(199, 199, 199, 0.20);

}

#MainContent {
	max-width: 100%;
	overflow: auto;
}

#RightContent .title {
	color: #555;
	text-shadow: #aaa 1px 1px;
	text-align: center;
}

.user-info dd, .user-info dt {
	padding-top: 15px;
}

.inner_form {
	max-width: 400px;
	margin: 0 auto;
}

h4.not_found {
	padding: 10px 5px;
}

.padding10 {
	padding: 10px 5px;
}

.add_form {
	max-width: 600px;
}

#PageNavChange{
	padding-left: 5px;
	border: 1px solid #999;
	border-radius: 2px;
}

.not-found-404{
	max-width: 400px;
	margin: 100px auto 0 auto;
	background: #eee;
	padding: 20px;
	border-left: 10px solid #555;
}